.bg-dark-custom {
  background-color: #1c201f;
}

.text-main {
  color: #3edeb5;
}

.status-bg-primary {
  background-color: #3edeb5;
}

:root {
  .bg-dark {
    background-color: #1c201f;
  }
  --tblr-primary-rgb: #3edeb5;
  --tblr-primary: #3edeb5;
  --tblr-primary-darken: #3edeb5;
  --tblr-btn-hover-bg: #299f82;
  --tblr-dark-rgb: #1c201f;
  --tblr-dark: #1c201f;
  --tblr-dark-darken: #000;
  .table-dark {
    --tblr-table-bg: #1c201f;
    --tblr-table-striped-bg: #000;
  }
  .btn-primary {
    --tblr-btn-hover-bg: #299f82;
  }
  .btn-dark {
    --tblr-btn-border-color: #3edeb5;
    --tblr-btn-color: #3edeb5;
    --tblr-btn-active-border-color: #299f82;
    --tblr-btn-hover-border-color: #299f82;
    --tblr-btn-hover-color: #299f82;
  }
  .page-link {
    --tblr-pagination-hover-color: #3edeb5;
  }
}
